.footer {
  z-index: 100;
  width: var(--mobile);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.footer--socials {
  display: flex;
  padding: 0 100px;
  justify-content: space-around;
  list-style-type: none;
}

.footer--socials_items svg path {
  transition: all ease 0.2s;
}

.footer--socials_items:hover svg path {
  fill: var(--softred);
}
